<!-- views/partials/header.ejs -->

  <header>
    <nav class="navbar top navbar-default bg-light">
      <div class="navbar-header">
        <h1 class="display-1 text-success text-wrap font-weight-bolder">Smart To Do</h1>
      </div>

      <% if (typeof(userId) !== 'undefined') { %>

        <div class="card text-center" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">Logged in as: <%= email %></h5>
            <p><a class="card-text" href="/users/<%= userId %>/edit">Go to User Profile</a></p>
            <form class="form-inline" method="POST" action="/Logout" id="formLogout">
            <button class="btn btn-outline-success" type="submit" form="formLogout">Logout</button>
            </form>
          </div>
        </div>

      <% } %>

    </nav>
  </header>
