<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <scr
  </head>
<body>
  <header>
    <nav class="navbar top navbar-default bg-light">
      <div class="navbar-header">
        <h1 class="display-1 text-success text-wrap font-weight-bolder">Smart To Do</h1>
      </div>
      <div class="card text-center" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title">Logged in as: email@lhl.com</h5>
          <p><a class="card-text" href="******************">Go to User Profile</a></p>
          <form class="form-inline" method="POST" action="/Logout" id="formLogout">
          <button class="btn btn-outline-success" type="submit" form="formLogout">Logout</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
       <br>
     <br>
     <br>
     <div class="container">
       <div class="row">
         <div class="col-md-12">
         <h4>Edit Item</h4>
         <div class="table-responsive">
           <table id="mytable" class="table table-bordered table-striped">
             <thead>
               <th class="text-left">What</th>
               <th class="text-left">Category</th>
             </thead>
             <tbody>
               <form id="edit-item" method="POST" action="/api/users/list/items/<%= itemId %>/edit">
                <tr>
                 <td><input name="newName" id="name" class="form-control" value="<%= itemName %>"></td>
                 <td>
                  <select name="categories" id="drop-down">
                    <option value="0" selected="selected">Please select</option>
                    <option value="1">To Watch</option>
                    <option value="2">To Eat</option>
                    <option value="3">To Read</option>
                    <option value="4">To Buy</option>
                    <option value="5">Uncategorized</option>
                  </select>
                </td>
               </tr>
             </tbody>
           </table>
           <button id="update" type="submit" class="btn btn-success">UPDATE</button>
           <button id="back" type="button" class="btn btn-success" onclick="window.location.href='/list'">GO BACK</button>
          </form>
         </div>
 </body>
</html>
