<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Edit Page</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Bootstrap JS and JQUERY for dropdown -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>


<body>

  <header>

    <div class="fixed-top">Smart To Do!</div>
      <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="#">Logged in as: email@lhl.com</a>
      <nav class="navbar navbar-light bg">
        <form class="form-inline">
          <button class="btn btn-outline-success" type="button">Logout</button>
        </form>
      </nav>

  </header>
       <br>
     <br>



     <div class="container">
       <div class="row">
         <div class="col-md-12">
         <h4>My To Do's</h4>
         <div class="table-responsive">
           <table id="mytable" class="table table-bordred table-striped">
             <thead>
               <th class="text-left">What</th>
               <th class="text-right">Category</th>
             </thead>
             <tbody>
               <tr>
                 <td><input name="itemNewName" class="form-control" placeholder="Harry Potter Book"></td>
                 <td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">To Watch</a>
                      <a class="dropdown-item" href="#">To Eat</a>
                      <a class="dropdown-item" href="#">To Read</a>
                      <a class="dropdown-item" href="#">To Buy</a>
                      <a class="dropdown-item" href="#">Uncategorized</a>
                    </div>
                  </div>
                  </td>
               </tr>
             </tbody>
           </table>
           <button type="button" class="btn btn-success">UPDATE</button>
           <button type="button" class="btn btn-success">GO BACK</button>
         </div>
 </body>
</html>
